body {
    text-align: center;
}
header {
    min-height: 80px;
}
h2 {
    font-size: 36px;
}

nav {
    float: right;
}

div.timer-count {
    font-size: 48;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(113, 2, 2);
    padding: 15px;
}

div.quiz {
    padding-top: 60px;
}
ul.button-group {
    justify-content: center;
    margin-left: 120px;
    padding-top: 16px;
    padding-left: 100px;
    justify-content: center;
}

.button-group button{
    background-color: #550ea5; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-radius: 0.5em;
    width: 25%;
}

.button-group button:hover {
    background-color: #3e8e41;
}

div.quiz-question {
    padding: 40px;
}

button {
    background-color: #550ea5; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 18%; /* Set a width if needed */
    font-size: 20px;
    border-radius: 0.5em;
    margin: 20px; /* creates space between buttons*/
}
button:hover{
    background-color: #3e8e41;
}

textarea {
    border-color: #550ea5;
    background-color: #b7a1d0;
    border-width: 2px;
}
#high-score-list {
    background-color: #b7a1d0;
}

label{
    font-size: 20px;
}
#message {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button#score-list{
    background-color: #550ea5; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 75%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    border-radius: 0.5em;
    width: 25%;
}